{%extends 'tweeter/base.html'%}
{%block content%}
<div class="card position-absolute col-sm-12 text-white" style=background-color:#131a2d;>
  <div class="card-header border-white sticky-top" style=background-color:#131a2d;>
    <div class="row">
      <div class="col-sm-6">
      <h4 class="text-white float-left"><a href="{%url 'tweeter:home'%}"><i class="fa fa-twitter fa-lg text-primary"></i></a><a style=margin-left:20px;>{{user.first_name}} {{user.last_name}}</a></h4>
      </div>
  </div>
    </div>
    
    </div>

{%endblock%}
