{%extends 'tweeter/base.html'%}
{%block content%}
<div class="card position-absolute col-sm-12 text-white" style=background-color:#131a2d;>
  <div class="card-header border-white sticky-top" style=background-color:#131a2d;>
    <div class="row">
      <div class="col-sm-6">
      <h4 class="text-white float-left"><a href="{%url 'tweeter:home'%}"><i class="fa fa-twitter fa-lg text-primary"></i></a><a style=margin-left:20px;>{{user.first_name}} {{user.last_name}}</a></h4><br>

      </div>
  </div>
  <a class="text-muted" style=margin-left:3rem;>@{{user.username}}</a>
  <div class="row" style=margin-top:7px;>
<div class="col-sm-6">
  <a href="{%url 'accounts:followers'%}"><button class="btn text-muted border-muted col-sm-12">Followers</button></a>
  </div>
  <div class="col-sm-6">
    <a href="{%url 'accounts:following'%}" class="nav-link active"><button class="btn border-primary shadow-lg col-sm-12 active" style=color:dodgerblue;>Following</button></a>
    </div>
    </div>
</div>
{%for followingObj in followingObj%}
{%for following in followingObj.following.all%}
<div class="row m-1">
<div class="col-sm-1">
  image
</div>
<div class="col-sm-11">
  <div class="row">
    <div class="col-sm-9">
      <b><a href="{%url 'accounts:userdetail' following.username%}" class="text-white">{{following.first_name}} {{following.last_name}}</a></b>
      <p class="text-muted">@{{following.username}}</p>
      {{followingObj.bio}}

      </div>
      <div class="col-sm-3" align=right>
        <button class="btn btn-primary col-sm-12" style=border-radius:30px;>unfollow</button>
        </div>
    </div>
  </div>
  </div>
<hr class="bg-secondary">
{%endfor%}
{%empty%}
<h4 class="text-danger">Not following any users.</h4>
{%endfor%}
</div>
{%endblock%}
