{%load static%}
{%load icons%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Hello, world!</title>
  </head>
  <body style=background-color:#374778;>
    <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <div class="wrapper d-flex bg-white">
            <div class="sidebar" style=width:350px;>
                <ul style=margin-left:30px;>
                    <li><a href="{%url 'tweeter:home'%}"><i class="fa fa-home fa-lg m-1"></i>Home</a></li>
                    <li class="notification2"><a href="#"><i class="fa fa-envelope fa-lg m-1"></i>Messages</a><span class="number2">5</span></li>

                    {%if user.is_authenticated%}
                    <li><a href="{%url 'accounts:profile'%}"><i class="fa fa-user fa-lg m-1"></i>Profile</a></li>
                    <li><a href="{%url 'accounts:logout'%}"><i class="fa fa-sign-out fa-lg m-1"></i>Logout</a></li>
                    {%else%}
                    <li><a href="{%url 'accounts:login'%}"><i class="fa fa-sign-in fa-lg m-1" aria-hidden="true"></i>Login</a></li>
                    <li><a href="{%url 'accounts:register'%}"><i class="fa fa-sign-in fa-lg m-1" aria-hidden="true"></i>Register</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>

        </div>

      <div class="col-sm-6 p-1">
    {%block content%}
    {%endblock%}
  </div>
  <div class="col-sm-3">
    <div class="wrapper">
        <div class="sidebar" style=width:360px;>

        </div>
    </div>
  </div>
  </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
