{%extends 'tweeter/base.html'%}
{%load crispy_forms_tags%}
{%block content%}
    <div class="card text-white border-secondary" style=background-color:#131a2d;>
      <div class="card-header border-white sticky-top" style=background-color:#131a2d;>
        <div class="row">
          <div class="col-sm-3">
          <h4 class="text-white float-left"><a href="{%url 'tweeter:home'%}"><i class="fa fa-twitter fa-lg text-primary"></i></a><a style=margin-left:20px;>Home</a></h4>
          </div>
          <div class="col-sm-6">
          <form method="GET" action="{%url 'tweeter:home'%}" class="form-inline float-right">
        <input name="q" class="form-control form-control-sm ml-1 w-50" type="text" placeholder="Search" value="{{request.GET.q}}" aria-label="Search">
        <button class="btn"><i class="fa fa-search btn text-white"></i></button>
      </form>
      </div>
      <div class="col-sm-3">

        </div>
      </div>
        </div>


        <div class="card-body">

      <form method="POST" action="" enctype="multipart/form-data">
      {%csrf_token%}
      <a>{{form.content|as_crispy_field}}</a>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-6">
        {{form.image|as_crispy_field}}
        </div>
        <div class="col-sm-6" align=right>
      <button class="btn text-white col-12 col-md-5 col-sm-4" align=right style=background-color:#52a7e8;border-radius:30px;>Tweet</button>
      </div>
      </div>
      </div>
        </form>
        </div>
        <hr style=border:solid;>
{%for tweet in tweet%}
    <div class="row">

      <div class="col-sm-1">
        image
        </div>
      <div class="col-sm-10">
    <b>{{tweet.user.first_name|capfirst}} {{tweet.user.last_name|capfirst}}</b> <a class="text-muted"> @{{tweet.user.username}} .
    {%if tweet.updated %} {{tweet.updated|timesince}} ago{%elif tweet.timestamp%}{{tweet.timestamp|timesince}} ago{%endif%}</a>
    <p>{{tweet.content}}</p>
    {%if tweet.image%}
    <img src="{{tweet.image.url}}" class="img-responsive col-sm-12" style=border-radius:25px; height="350" alt="myimg">
    {%endif%}
    </div>
    <div class="col-sm-1">
    <div class="btn-group dropleft float-right">
    <i type="button" class="fa fa-angle-down fa-lg float-right text-muted" data-toggle="dropdown" style=margin-right:20px; aria-haspopup="true" aria-expanded="false">
    </i>
    <div class="dropdown-menu border-white shadow-lg" style=height:10rem;background-color:#131a2d;>
      <a class="dropdown-item text-danger" href="{%url 'tweeter:delete' tweet.id%}"><i class="fa fa-trash fa-lg"></i> Delete</a>
      <a class="dropdown-item text-primary" href="{%url 'tweeter:update' tweet.id%}"><i class="fa fa-edit"></i> Edit</a>
    </div>
    </div>
      </div>

      </div>

      <hr class="bg-white">
      {%empty%}
      {%if request.GET.q%}
      <h5 class="text-danger">Results Not Found!</h5>
      {%else%}
      <h5 class="text-white">No tweets yet.</h5>
      {%endif%}
{%endfor%}
</div>



{%endblock%}
